<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime targetFramework="4.0" maxRequestLength="102400" executionTimeout="600" />
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>

    <handlers>
      <add name="UploadApkHandler"
           path="UploadApk.ashx"
           verb="POST"
           type="UploadApk"
           resourceType="Unspecified" />
    </handlers>

    <defaultDocument enabled="false" />
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
